/node_modules/
.env
failed_fb_ids.json
success_fb_ids.json
tn_data.json
/football/
/basketball/
/baseball/
/ice-hockey/
/cricket/
/american-football/
baseball_success.json
baseball_teams.json
american_football_success.json
american_football_teams.json
basketball_success.json
basketball_teams.json
cricket_success.json
cricket_teams.json
football_success.json
football_teams.json
ice_hockey_success.json
ice_hockey_teams.json
cricket_league_urls.json